<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="text-right">Perfil de Empresa</h4>
            </div>
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://png.pngtree.com/template/20191014/ourlarge/pngtree-real-estate-business-logo-template-building-property-development-and-construction-logo-image_317796.jpg"></div>
                    <div class="row mt-3">
                        <div class="col-md-9"><label class="labels">Empresa</label><p > Empresa 1</p></div> 
                        <div class="col-md-12"><label class="labels">Ruc</label><p ></p>432423</div>
                        <div class="col-md-12"><label class="labels">Telefono</label><p ></p></div>
                        <div class="col-md-12"><label class="labels">Especialidad a Buscar</label><p  v></p></div>
                        <div class="col-md-12"><label class="labels">Correo</label><p ></p></div>
                    </div>   
        </div>

            <div class="col-3 col-form-label ml-5"></div>
            <div class="col-7 d-flex flex-row-reverse">
              <button type="button" class="btn btn-dark mr-2" routerLink="/ventana">
                Buscar Personal
              </button>
            </div>

    </div>

</div>
